[submodule "www"]
	path = www
	url = git@git.realityloop.com:realityloop/demos/headless-blog-nuxt.git
[submodule "api"]
	path = api
	url = git@git.realityloop.com:realityloop/demos/headless-blog-contentacms.git
